@import "./colors"; // Colors

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.home{
  width: 80vw;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  .header{
    border-bottom: 1px solid $grey-200;

    .user-info{
      text-align: right;

      p{
        display: inline-block;
        border-right: 1px solid $grey-400;
        padding: 0 10px;
        margin-bottom: 5px;
  
        &:last-child{
          border: 0;
        }
      }
    }
  }
}

.search-panel{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .search-input{
    width: 25vw;

    ul{
      z-index: 999;
      width: 300px;
      max-height: 300px;
      padding: 0;
      margin: 0;
      background-color: white;
      border: 1px solid $grey-500;
      overflow: auto;
      position: absolute;

      li{
        list-style: none;
        text-align: left;
        padding: 4px 2px;
        cursor: pointer;
        border-bottom: 1px solid $grey-200;

        &:hover{
          background-color: $teal-300;
          color: white;
        }
      }
    }
  }

  .filter-stocks{
    p{
      display: inline-block;
      margin-left: 20px;
      cursor: pointer;

      &:hover{
        color: $blue-500;
      }
    }
  }
  }

.result-table{
  margin-top: 30px;

  .custom-control-inline {
    margin-right: 0;
  }
}

.my-portfolio{
  margin-top: 20px;

  h1{
    text-align: left;
    font-size: 1.6em;
  }
}

.green{
  color: $green-500;
}

.red{
  color: $red-500;
}

.active{
  color: $blue-500;
}