<template>
  <div class="home">
    <div class="header">    
      <h1>Papaya task</h1>
      <div class="user-info">
        <p>Current funds: {{currentFunds}}</p>
        <p>Username: {{userName}}</p>
      </div>
    </div>

    <div class="search-panel">
      <search 
        :fullStocksArr="fullStocksArr"
        @searchedStocks="getSearchedStocks"/>

      <filter-stocks 
        :currentFunds="currentFunds"
        :stocksArr="searchedStocksArr"
        @canBuyStocks="getSearchedStocks"
        @followingStocks="getFollowingStocks"/>
    </div>

    <result-table
      :searchedStocks="searchedStocksArr"
      :myStocks="myStocksArr"
      :currentFunds="currentFunds">
    </result-table>

    <my-portfolio
      :searchedStocks="searchedStocksArr"
      :myStocks="myStocksArr">
    </my-portfolio>
  </div>
</template>

<script>
import Search from '@/components/Search.vue'
import ResultTable from '@/components/ResultTable.vue'
import FilterStocks from '@/components/FilterStocks.vue'
import MyPortfolio from '@/components/MyPortfolio.vue'

export default {
  name: 'home',
  components: {
    'search': Search,
    'result-table': ResultTable,
    'filter-stocks': FilterStocks,
    'my-portfolio': MyPortfolio
  },
  data() {
    return {
      userName: '',
      currentFunds: 0,
      myStocksArr: [],
      searchedStocksArr: [],
      fullStocksArr: []
    }
  },
  created () {
    this.getFullStocksArr()
    this.getPortfolio()
  },
  methods: {
    getFullStocksArr () {
      let data = {
        searchString: ''
      }
      this.postData('market/search', data).then((response) => {
        this.fullStocksArr = response.data.stocks
      })
    },
    getPortfolio () {
      this.getData('portfolio').then((response) => {
        let data = response.data
        this.userName = data.username
        this.currentFunds = data.funds
        this.myStocksArr = data.myStocks
      })
    },
    getSearchedStocks (stocksArr) {
      if (stocksArr.length > 0) {
        let query = ''
        let prefix = 'symbol='
        stocksArr.forEach((stock, i) => {
          query = query + prefix + stock.symbol
          if (i < stocksArr.length - 1) {
            query = query + '&'
          }
        })
        this.getData('market?' + query).then((response) => {
          this.searchedStocksArr = response.data.stocks
        })
      } else {
        this.searchedStocksArr = []
      }
    },
    getFollowingStocks (stocksArr) {
      if (stocksArr.length > 0) {
        let query = ''
        let prefix = 'symbol='
        stocksArr.forEach((stock, i) => {
          query = query + prefix + stock
          if (i < stocksArr.length - 1) {
            query = query + '&'
          }
        })
        this.getData('market?' + query).then((response) => {
          this.searchedStocksArr = response.data.stocks
        })
      } else {
        this.searchedStocksArr = []
      }
    }
  }
}
</script>
