<template>
  <div class="filter-stocks">
    <p @click="filterCanBuy"><i class="fas fa-filter"></i>Can Buy</p>
    <p @click="filterFollowing"><i class="fas fa-filter"></i>Following</p>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'FilterStocks',
  props: {
    stocksArr: {
      type: Array,
      required: true
    },
    currentFunds: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
    }
  },
  created () {

  },
  methods: {
    filterCanBuy () {
      let canBuyArr = this.stocksArr.filter(stock => stock.currentPrice <= this.currentFunds)
      this.$emit('canBuyStocks', canBuyArr)
    },
    filterFollowing () {
      this.$emit('followingStocks', this.followingArr)
    }
  },
  computed: {
  ...mapState([
    'followingArr'
  ])
},
}
</script>
