<template>
  <div class="my-portfolio">
    <h1>My Portfolio</h1>
    <table class="table table-striped table-grid table-bordered table-sm" v-if="dataToDisplay.length === counter">
      <thead class="thead-dark">
        <tr>
          <th 
            v-for="col in columns" 
            :key="col.name">
            {{ col.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr 
          v-for="entry in dataToDisplay" 
          class="row-hover">
          <td v-for="col in columns">
            <span :class="[{'green': col.name === 'profitability' && entry[col.name] > 0}, {'red': col.name === 'profitability' && entry[col.name] < 0}]">{{ display(entry, col) }}</span>
            <span v-if="col.name === 'action'">
              <b-button-group>
                <b-btn variant="primary" @click="sellStock(entry.symbol)">Sell</b-btn>
              </b-button-group>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'MyPortfolio',
  props: {
    myStocks: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      columns: [
        {
          label: 'Stock',
          name: 'stock'
        },
        {
          label: 'Symbol',
          name: 'symbol'
        },
        {
          label: 'Profitability',
          name: 'profitability'
        },
        {
          label: 'Sell',
          name: 'action'
        },
      ],
      dataToDisplay: [],
      counter: 0,
      profitabilityColor: ''
    }
  },
  created () {

  },
  methods: {
    display (entry, col) {
      if (col.name !== 'action') {
        return entry[col.name]
      }
    },
    setDataToDisplay () {
      var data = []
      let st = {}
      this.myStocks.forEach(stock => {
        this.getData('market?symbol=' + stock.symbol).then((response) => {
          st = response.data.stocks[0]
          data.push({
            stock: st.name,
            symbol: st.symbol,
            profitability: (stock.quantity*stock.purchasePrice - st.currentPrice).toFixed(2)
          })
          this.counter++
        })
      })
      this.dataToDisplay = data
    }
  },
  computed:{
  },
  watch: {
    myStocks () {
      this.setDataToDisplay()
    }
  }
}
</script>
