<template>
  <div class="result-table">
    <table class="table table-striped table-grid table-bordered table-sm" >
      <thead class="thead-dark">
        <tr>
          <th 
            v-for="col in columns" 
            :key="col.name">
            {{ col.label }}
          </th>
        </tr>
      </thead>
      <tbody v-if="searchedStocks.length > 0">
        <tr 
          v-for="(entry, index) in dataToDisplay" 
          class="row-hover">
          <td v-for="col in columns">
            {{ display(entry, col) }}
            <!-- Following -->
            <span v-if="col.name === 'following'">
              <b-form-checkbox 
                :id="entry.symbol"
                v-model="entry[col.name]"
                @change="toggleFollowing(entry.symbol, index)">
              </b-form-checkbox>
            </span>
            <!-- sell / buy -->
            <span v-if="col.name === 'action'">
              <b-button-group>
                <b-btn :disabled="!entry[col.name]" variant="primary" @click="sellStock(entry.symbol)">Sell</b-btn>
                <b-btn :disabled="entry[col.name]" variant="primary" @click="setStockToBuy(entry)" v-b-modal.buyStockModal>Buy</b-btn>          
              </b-button-group>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <b-modal id="buyStockModal" ref="buyStockModal" title="Buy stock" hide-footer>
      <form @submit="onSubmit">
        <h3>"{{stockToBy.stockSymbol}}"</h3>
        Quantity: <b-form-input type="number" v-model="stockToBy.stockQuantity"></b-form-input>
        <b-button type="submit" variant="primary" class="mt-2">Buy</b-button>
      </form>
      <p class="mt-1 red" v-if="errorMessage !== ''">{{errorMessage}}</p>
    </b-modal>

  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'ResultTable',
    props: {
      searchedStocks: {
        type: Array,
        required: true
      },
      myStocks: {
        type: Array,
        required: true
      },
      currentFunds: {
        type: Number,
        required: true
      }
    },
    components: {
    },
    data () {
      var sortOrders = {}
      return {
        isClickable: this.nextKey !== '' && this.nextPath !== '',
        sortKey: '',
        sortOrders: sortOrders,
        searchInputValue: this.filterKey && this.filterKey.toLowerCase(),
        dataToExport: [],
        columns: [
          {
            label: 'Stock',
            name: 'name'
          },
          {
            label: 'Symbol',
            name: 'symbol'
          },
          {
            label: 'Strat of commerce',
            name: 'startOfCommerce'
          },
          {
            label: 'Current price',
            name: 'currentPrice'
          },
          {
            label: 'Following',
            name: 'following'
          },
          {
            label: 'Sell / Buy',
            name: 'action'
          }
        ],
        rawData: [],
        selectedFollowing: [],
        stockToBy: {
          stockSymbol: '',
          stockQuantity: 0,
          currentPrice: ''
        },
        errorMessage: '',
      }
    },
    created () {
    },
    methods: {
      ...mapMutations([
        'ADD_STOCK',
        'REMOVE_STOCK'
      ]),
      display (entry, col) {
        if (col.name !== 'action' && col.name !== 'following') {
          return entry[col.name]
        }
      },
      setActionOfStock () {
        let myStocks = this.myStocks.map(stock => stock.symbol)
        this.searchedStocks.forEach((searchedStocks, index) => {
          if (myStocks.indexOf(searchedStocks.symbol) > -1) {
            this.searchedStocks[index].action = true
          } else {
            this.searchedStocks[index].action = false
          }
        })
      },
      setFollowingStocks () {
        this.searchedStocks.forEach((searchedStocks, index) => {
          if (this.followingArr.indexOf(searchedStocks.symbol) > -1) {
            this.searchedStocks[index].following = true
          } else {
            this.searchedStocks[index].following = false
          }
        })
      },
      setStockToBuy (entry) {
        this.stockToBy.stockSymbol = entry.symbol
        this.stockToBy.currentPrice = entry.currentPrice
      },
      onSubmit (evt) {
        evt.preventDefault()
        if (this.stockToBy.stockQuantity === 0) {
          this.errorMessage = 'Please have quantitny larger than 0.'
        } else if (this.currentFunds < this.stockToBy.stockQuantity * this.stockToBy.currentPrice) {
          this.errorMessage = 'Sorry, you don\'t enough money to buy.'
        } else {
          this.errorMessage = ''
          this.buyStock()
          this.$refs.buyStockModal.hide()
        }
      },
      buyStock () {
        this.postData('market/buy', this.stockToBy).then((response) => {
          location.reload()
        })
      },
      toggleFollowing(symbol, index) {
        if (this.followingArr.indexOf(symbol) === -1) {
          this.ADD_STOCK(symbol)
        } else {
          this.REMOVE_STOCK(symbol)
        }
        this.setFollowingStocks()
      }
    },
    computed: {
      ...mapState([
        'followingArr'
      ]),
      dataToDisplay () {
        this.setActionOfStock()
        this.setFollowingStocks()
        var data = this.searchedStocks
        return data
      }
    },
    watch: {
    }
  }
</script>

