<template>
  <div class="search-input">
    <form @submit="onSubmit">
      <b-input-group size="sm">
        <b-form-input type="text" v-model="searchValue" @input="onChange"></b-form-input>
        <b-input-group-append>
          <b-btn type="submit" variant="info">search</b-btn>
        </b-input-group-append>
      </b-input-group>
    </form>
    
    <ul v-show="isOpen">
      <li 
        v-for="(stock, index) in filteredStocksArr" 
        :key="index"
        @click="setResult(stock)">
        {{stock.symbol}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Search',
  props: {
    fullStocksArr: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      searchValue: '',
      filteredStocksArr: [],
      isOpen: false
    }
  },
  created () {
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside)
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside)
  },
  methods: {
    onChange () {
      if (this.searchValue !== '') {
        this.isOpen = true
        this.filterStockArr()
      } else {
        this.isOpen = false
      }
    },
    filterStockArr () {
      this.filteredStocksArr = this.fullStocksArr.filter(stock => stock.symbol.toLowerCase().startsWith(this.searchValue.toLowerCase()))
    },
    onSubmit (evt) {
      evt.preventDefault()
      if (this.searchValue !== '') this.getFilteredStocks()
    },
    setResult (stock) {
      this.searchValue = stock.symbol
      this.filteredStocksArr = []
      this.filteredStocksArr.push(stock)
      this.getFilteredStocks()
    },
    getFilteredStocks () {
      this.isOpen = false
      this.emitResult()
    },
    emitResult () {
      this.$emit('searchedStocks', this.filteredStocksArr)
    },
    handleClickOutside(evt) {
      if (!this.$el.contains(evt.target)) {
        this.isOpen = false
        this.arrowCounter = -1
      }
    }
  }
}
</script>
